[submodule "Grounded-SAM-2"]
	path = Grounded-SAM-2
	url = https://github.com/IDEA-Research/Grounded-SAM-2
[submodule "Grounded-SAM-2-fork"]
	path = Grounded-SAM-2-fork
	url = https://github.com/prince-ravi-leow/Grounded-SAM-2
